<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome <span class="member-name"></span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-primary "><a href="/newevent" id="newEventBtn">
                    Create a New Event</a></button>
        </div>
    </div>
</div>


{{!-- <br>
<br>
<button class="btn btn-primary "><a href="/newevent" id="newEventBtn">
        Create a New Event</a></button> --}}

<br>
<br>

<ul id="events-list">
    {{#each events}}
    <li data-id="{{this.id}}" class="list-group-item">
        <p><strong>Event Name : </strong><a id="namelink" href="event/{{this.id}}">{{this.name}}</a></p>
        {{!-- <p><strong>Date and Time :</strong> {{this.dateAndTime}}</p> --}}
        <p><strong>Date :</strong> {{this.eventDate}}</p>
        <p><strong>Time :</strong> {{this.time}}</p>
        <p><strong>Host :</strong> {{this.fullname}}</p>

        <button class="btn btn-primary "><a href="event/{{this.id}}" id="moreEventBtn">
                More about this Event</a></button>
    </li>
    {{/each}}
</ul>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/members.js"></script>